<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Quang's Blog</h1>
      <h4 class="card-subtitle text-muted">My first Rails Application for CoderSchool!</h4>
    </div>
  </div>
  <%= render @articles.reverse %>
  <br>
</div>
